<div>
  <h3>Login page</h3>

  <div>
    <form  class="mb-5">
      <div class="form-group mb-2">
        <label [ngModel]="email" >Email: </label>
        <input type="text" class="form-control" id="email" name="token" placeholder="Email">
        <label [ngModel]="password" >Password: </label>
        <input type="password" class="form-control" id="password" name="token" placeholder="password">
      </div>

      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </form>

  </div>



</div>
